.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    min-height: 100vh;        
}

.calcBtn{
    width: 200px;
    text-align: center;
}

.backCalc{
    background-color: beige;
    padding: 10px;
    margin-top: 10px;
    border-color: rgb(156, 143, 66);
    border-radius: 5px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

.backCalc:hover{
    background-color: rgb(243, 243, 199);
}